<section class="w3l-clients" id="skills">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <div class="position-relative px-lg-5">
                        <img src="~/Templates/iportfolio-starter/assets/images/clients.png" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <span class="text">Referanslarım</span>
                    <h3 class="title-big">Referanslarım benim hakkımda <span>ne düşünüyor?</span></h3>
                    <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Furkan ÖZDEMİR, iş yerimizdeki en değerli çalışanlardan biridir. Kendisi, projeleri büyük bir özveri ve dikkatle yönetir ve sonuçlarını her zaman mükemmeliyetle sunar. Ayrıca, Furkan, ekip arkadaşlarıyla etkili bir işbirliği içinde çalışır ve pozitif bir çalışma ortamı oluşturur. Onun liderlik yetenekleri, işimizi daha da ileriye taşımamıza yardımcı oluyor. Furkan, iş yerinde saygı duyulan ve güvenilen bir kişiliktir. Herhangi bir organizasyon, Furkan gibi bir profesyoneli çalışanları arasında görmek ister.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/CV/berkan.jpeg" class="img-fluid"
                                                 alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Berkan BAYTAR</h3>
                                            <p class="indentity">Ankara, Türkiye</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Furkan ÖZDEMİR, her zaman işini büyük bir özveri ve enerjiyle yapar. Kendisi, karmaşık sorunları çözme yeteneği ve hızlı öğrenme kabiliyeti ile dikkat çeker. Ayrıca, Furkan, iş arkadaşlarına her zaman yardımcı olmaktan çekinmez ve işbirliğini teşvik eder. Onunla çalışmak, motivasyonunuzu artırır ve başarıya giden yolda size ilham verir. Furkan, iş yerindeki herkes tarafından saygı ile karşılanan bir profesyoneldir.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/CV/burkay.jpeg" class="img-fluid"
                                                 alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Burkay BAYTAR</h3>
                                            <p class="indentity">Stockholm, İsveç</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <blockquote>
                                        <q>
                                            Furkan ÖZDEMİR, iş yerimizdeki en yetenekli ve sorumluluk sahibi kişilerden biridir. Kendisi, projeleri başarıyla tamamlama ve işi sonuca ulaştırma konusunda üstün bir yeteneğe sahiptir. Ayrıca, Furkan, iş arkadaşları ile işbirliği içinde çalışır ve pozitif bir çalışma ortamı yaratır. Onun liderlik becerileri, iş yerimizdeki başarıları sürdürmemize yardımcı oluyor. Berkan, her zaman güvenilir, dürüst ve profesyonel bir yaklaşıma sahiptir.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="test-img">
                                            <img src="~/CV/Ekran görüntüsü 2023-09-11 221037.png" class="img-fluid"
                                                 alt="client-img">
                                        </div>
                                        <div class="peopl align-self">
                                            <h3>Ufuk KARAYEL</h3>
                                            <p class="indentity">Kayseri, Türkiye</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>